/**********************************************/
/*Button*/
/**********************************************/

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*.login_btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px;
  border : 3px solid blue ;
}*/

.wrap_btn {
  width: 250px;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  
}

.form_bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login_form_btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  /*padding: 0 20px;*/
  width: 100%;
  height: 5vh;
}

.wrap_btn:hover .form_bgbtn {
  left: 0;
}

/**********************************************/
/*CheckBox*/
/**********************************************/
.login_doctor input[type=checkbox] {
  display: none;
}

.login_doctor {
  font-size: 16px;
  line-height: 20px;
  margin-right : 33%;
}

.login_doctor label {
  cursor: pointer;
}
.login_doctor label:before {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  content: "\00a0";
  text-align: center;
  background: #eee;
  border : 1px solid #c4c4c4;
  border-radius : 20%;
}
.login_doctor label:hover::before{
  background: #aaa;
}

/* On check */
.login_doctor input:checked ~ label:before {
  content: "\2713";
  background: #3f6cb5;
  color: #fff;
}

/**********************************************/
/*TextBox*/
/**********************************************/
/*.login_id {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}*/

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
  
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label[class = form__label],
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.form__field:focus ~ .form__label {
  color: #5b9bfa;
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #5b9bfa;
}

/***********************************************/

.Test_Logo {
  margin-top: 14%;
  margin-left : 40%;
  border-radius : 50%;
  border : 4px solid black;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.Test_Logo:hover{
  border : 4px solid lightgreen;
  transition: 0.5s;
}

.Rec_Logo{
  margin-top: 14%;
  margin-left : 17%;
  border-radius : 50%;
  border : 4px solid black;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.Rec_Logo:hover{
  border : 4px solid lightgreen;
  transition: 0.5s;
}

.Main_txtT{
  margin-left : 53%;
  color : black;
  margin-top : 0%;
}

.Main_txtR{
  margin-right : 22%;
  color : black;
  margin-top : 0%;
}
/*#a:hover + #b {
  background: #ccc
}*/
/*.Rec_Logo:hover + .Main_txtR{
  font-size: 10px;
  font-weight: 100;
  transition: 0.5s;
}

.Test_Logo:hover +  .Main_txtT{
  border : 4px solid lightgreen;
  transition: 0.5s;
}*/


.ty{
  margin-top: 12vh;
  font-size: 50px;
}

/***************************/

select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  /*border:0!important;*/
  background: #fff;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#000;
  cursor:pointer;
  /*font-size: 1em;
  font-family: 'Open Sans', sans-serif;*/
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3vh;
  line-height: 2;
  background: #000;
  overflow: hidden;
  border-radius: .25em;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #c4c4c4;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #23b499;
}

/***************************/

.register{
  margin-top : 4vh;
}

/*************************/
.verify{
  margin-top : 3vh;
}

/***********************/
.RST_confirm{
  margin-top : 1vh;
}

/**********************/
.RST_S{
  text-align: center;
  margin-top : 12vh;
  margin-left : 5vh;
  font-size : 30px;
}
/*********************/


.containerL{
  height : 50%;
  border : 2px solid transparent;
  margin-top : 5%;
}

.containerM{
  height : 50%;
  border : 2px solid transparent;
  margin-top : 5%;
}

.containerS{
  height : 63%;
  width : 45%;
  border : 2px solid transparent;
  margin-top : 15%;
  margin-left : 50%;
  /*border-radius : 50%;*/
  /*border : 5px solid black;*/
}


.report_ttt{
  margin-top : 19%;
}

.report_t{
  margin-top : 5%;
}

.report_a{
  margin-top : 30%;
  margin-right :15%;
}
/*
.report_rod{
  margin-top:5%;
}*/

/***************************************/
/*search style*/

.search {
  width: 100%;
  height : 3.5vh;
  position: relative;
  display: flex;
  border : 2px solid #ECEAEA;
  border-radius: 5%;
}

.searchTerm {
  width: 100%;
  border: 5px solid #ECEAEA;
  border-right: none;
  /*padding: 5px;*/
  height: 3vh;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #888888;
  font-size : 16px;
  border : 2px solid transparent;
}

.searchTerm:focus{
  color: 000;
}

.searchButton {
  width: 40px;
  height: 3.3vh;
  border: 1px solid #ECEAEA;
  background: #ECEAEA;
  text-align: center;
  color: #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  position : absolute;
  
  
}

.searchButton:hover {
    border: 1px solid #333333;
    background: #333333;
    color: #ECEAEA;
    transition:0.5s;
    font-size: 20px;
  }

  /******************doctor page*/

.select2 {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  /*border:0!important;*/
  background: #000;
  background-image: none;
  /*flex: 1;*/
  /*padding: 0 .5em;*/
  color:#000;
  cursor:pointer;
  visibility: hidden;
  
  /*font-family: 'Open Sans', sans-serif;*/
  
}
.select2::-ms-expand {
  display: none;
}
.select2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 3.5vh;
  line-height: 2;
  background: #ECEAEA;
  overflow: hidden;
  border-radius: .25em;
  border : 1px solid #ECEAEA;
  
}
.select2::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #ECEAEA;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select2:hover::after {
  color: #23b499;
}

#searchby2{
  font-size : 16px;
  color:#888888;
  border : 1px solid #ECEAEA;
}

#searchby2:focus{
  color:#000;
}

.adds{
  text-align: left;
  top : 1%;
  margin-left : 5%;
}


